@{  
  ViewData["Title"] = "Successfull Register Page";  
}  
@model RegisterUserDTO  

<div class="modal fade" id="SuccessfullRegisterModal" tabindex="-1" aria-labelledby="SuccesfullModalLabel" aria-hidden="true">  
  <div class="modal-dialog">  
      <div class="modal-content">  
          <div class="modal-header">  
              <h1 class="modal-title fs-5" id="SuccesfullModalLabel">Register Succesfull</h1>  
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>  
          </div>  
          <div class="modal-body">  
              Register succesfully, close this pop-up and login.  
          </div>  
          <div class="modal-footer">  
              <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>  
          </div>  
      </div>  
  </div>  
</div>  

@section Scripts {  
  <script>  
      // Automatically show the modal when the page loads  
      document.addEventListener('DOMContentLoaded', function () {  
          var modal = new bootstrap.Modal(document.getElementById('SuccessfullRegisterModal'));  
          modal.show();  

          // Redirect to home page when the modal is closed  
          document.getElementById('SuccessfullRegisterModal').addEventListener('hidden.bs.modal', function () {  
              window.location.href = '/account/login';  
          });  
      });  
  </script>  
}  

<div class="form-signin w-100 m-auto">  
  <form>  
      <h1 class="h3 mb-3 fw-normal">Sign Up</h1>  
      <div class="form-floating">  
          <input type="text" class="form-control" id="UserName"  
                 placeholder="username" value="@Model.UserName"> <label for="floatingInput">Username</label>  
      </div>  
      <div class="form-floating">  
          <input type="password" class="form-control" id="Password"  
                 placeholder="Password" value="@Model.Password"> <label for="floatingPassword">Password</label>  
      </div>  
      <div class="form-floating">  
          <input type="password" class="form-control" id="ConfirmPassword"  
                 placeholder="Password Again" value="@Model.ConfirmPassword"> <label for="floatingPassword">Password Again</label>  
      </div>  
      <div class="form-floating">  
          <input type="tel" class="form-control" id="Telephone"  
                 placeholder="name@example.com" value="@Model.Telephone"> <label for="floatingInput">Telephone</label>  
      </div>  
      <div class="form-floating">  
          <input type="email" class="form-control" id="Email"  
                 placeholder="name@example.com" value="@Model.Email"> <label for="floatingInput">Email address</label>  
      </div>  
      <div>  
          <button class="btn btn-primary w-100 py-2" type="submit">Sign up</button>  
          <a class=""  
      </div>  
  </form>  
</div>